<title>POS - Users</title>

<%- include('partials/header.ejs') %>
    
    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-1 text-gray-800">Users</h1>
        <p class="text-gray-800">This is data of Users</p>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info">
                <thead>
                    <tr>
                        <th>
                            User ID
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach(item => { %>
                    <tr>
                        <td>
                            <%= item.userid %>
                        </td>
                        <td>
                            <%= item.email %>
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.role %>
                        </td>
                        <td>
                            <a class="btn btn-success" href="#">Edit</a>
                            <a class="btn btn-danger" href="#">Hapus</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
                <tfoot>
                    <tr>
                        <th rowspan="1" colspan="1">User ID</th>
                        <th rowspan="1" colspan="1">Email</th>
                        <th rowspan="1" colspan="1">Name</th>
                        <th rowspan="1" colspan="1">Role</th>
                        <th rowspan="1" colspan="1">Action</th>
                    </tr>
                </tfoot>
            </table>


            
            <div class="d-sm-flex justify-content-between mb-4">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing <%= (offset + 1) %> to <%= limit %> of <%= totalResult %> entries</div>
                </div>
    
                <div class="col-sm-12 col-md-2">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                        <ul class="pagination">
                            <li class="page-item<%=page == 1 ? ' disabled' : '' %>">
                                <a class="page-link"
                                    href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) - 1) <= 0 ? 1 : parseInt(page-1) }` ) %>">Previous</a>
                            </li>
                            <% for( let i=1; i <=pages; i++ ) { %>
                                <li class="page-item<%=page==i ? ' active' : '' %>"><a class="page-link"
                                        href="<%=url.replace(`page=${page}`, `page=${i}`)%>">
                                        <%= i %>
                                    </a></li>
                                <% } %>
                                    <li class="page-item<%=page == pages ? ' disabled' : '' %>">
                                        <a class="page-link"
                                            href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) + 1) > pages ? pages : (parseInt(page)+1) }` ) %>">Next</a>
                                    </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

<%- include('partials/footer.ejs') %>