<title>POS - Sales</title>

<%- include('../partials/header.ejs') %>

    <!-- Page Heading -->
    <div class="align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-1 text-gray-800">Sales</h1>
        <p class="text-gray-800">This is data of Sales</p>
    </div>


    <% if(infoSuccess.length> 0) { %>
        <div class="alert alert-success" role="alert">
            <%= infoSuccess %>
        </div>
        <% } %>
            <div class="card shadow mb-4">
                <div class="card-header py-3">

                    <form method="post">
                        <button class="btn btn-primary btn-icon-split">
                          <span class="icon text-white-50" style="display: flex; align-items: center; justify-content: center;">
                            <i class="fas fa-plus"></i>
                          </span>
                          <span class="text">Add</span>
                        </button>
                    </form>

                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length">
                                    <label class="d-flex"> Show
                                        <form method="get">
                                            <select name="display" aria-controls="dataTable"
                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="3" <%=display==3 ? 'selected' : '' %>>3</option>
                                                <option value="10" <%=display==10 ? 'selected' : '' %>>10</option>
                                                <option value="100" <%=display==100 ? 'selected' : '' %>>100</option>
                                            </select>
                                            <input type="hidden" name="page" value="1">
                                            <input type="hidden" name="sortBy" value="<%=sortBy%>">
                                            <input type="hidden" name="sortMode" value="<%=sortMode%>">
                                            <input type="hidden" name="searchValue" value="<%=searchValue%>">
                                        </form>entries
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_filter">
                                    <label class="d-flex">Search:
                                        <form action="" method="get">
                                            <input type="hidden" name="page" value="1">
                                            <input type="hidden" name="sortBy" value="<%=sortBy%>">
                                            <input type="hidden" name="sortMode" value="<%sortMode%>">
                                            <input type="hidden" name="display" value="<%=display%>">
                                            <input type="search" class="form-control form-control-sm" placeholder=""
                                                aria-controls="dataTable" id="search" name="searchValue"
                                                value="<%= searchValue %>">
                                        </form>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid"
                                    aria-describedby="dataTable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=invoice`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'invoice' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Invoice
                                                </a>
                                            </th>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=time`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'time' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Time
                                                </a>
                                            </th>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=totalsum`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'totalsum' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Total Summary
                                                </a>
                                            </th>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=pay`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'pay' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Pay
                                                </a>
                                            </th>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=change`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'change' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Change
                                                </a>
                                            </th>
                                            <th>
                                                <a class="text-gray-800 text-decoration-none"
                                                    href="<%= url.replace(`sortBy=${sortBy}`, `sortBy=name`).replace(`sortMode=${sortMode}`, `sortMode=${sortMode == 'asc' ? 'desc' : 'asc'}`)%>">
                                                    <i
                                                        class="fas fa-<%= sortBy == 'name' ? sortMode == 'asc' ? 'sort-up' : 'sort-down' : 'sort'%>"></i>
                                                    Customer
                                                </a>
                                            </th>
                                            <th class="text-gray-800">
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% rows.forEach(function (item, index) { %>
                                            <tr>
                                                <td>
                                                    <%= item.invoice %>
                                                </td>
                                                <td id="time<%=index%>">
                                                    <%= moment(item.time, "ddd MMM DD YYYY HH:mm:ss ZZ").format('DD MMM YYYY HH:mm:ss') %>
                                                </td>
                                                <td>
                                                    <%= IDRupiah.format(item.totalsum) %>
                                                </td>
                                                <td>
                                                    <%= IDRupiah.format(item.pay) %>
                                                </td>   
                                                <td>
                                                    <%= IDRupiah.format(item.change) %>
                                                </td>   
                                                <td>
                                                    <%= item.name %>
                                                </td>   
                                                <td>
                                                    <a href="/sales/edit/<%=item.invoice%>"
                                                        class="btn btn-success btn-circle <% if (role != 'admin') { %> <%=item.operator == userid ? '' : 'disabled'%> <% } %>">
                                                        <i class="fas fa-info-circle"></i>
                                                    </a>
                                                    <a href="/sales/delete/<%=item.invoice%>"
                                                        class="btn btn-danger btn-circle <% if (role != 'admin') { %> <%=item.operator == userid ? '' : 'disabled'%> <% } %>" data-toggle="modal"
                                                        data-target="#deleteModal<%=index%>">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            <!-- Delete Modal-->
                                            <div class="modal fade" id="deleteModal<%=index%>" tabindex="-1"
                                                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Deleted
                                                                Confirmation?
                                                            </h5>
                                                            <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Are you sure, you want delete it?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button"
                                                                data-dismiss="modal">No</button>
                                                            <a class="btn btn-primary"
                                                                href="/sales/delete/<%=item.invoice%>">
                                                                Yes
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <% }) %>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Invoice</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Time</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Total Summary</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Pay</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Change</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Customer</th>
                                            <th rowspan="1" colspan="1" class="text-gray-800">Action</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                    Showing <%= (offset + 1) %> to <%= offset + rows.length %> of <%= totalResult %>
                                                entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers text-right"
                                    id="dataTable_paginate">
                                    <ul class="pagination justify-content-end">
                                        <li class="page-item<%=page == 1 ? ' disabled' : '' %>">
                                            <a class="page-link"
                                                href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) - 1) <= 0 ? 1 : parseInt(page-1) }` ) %>">Previous</a>
                                        </li>
                                        <% for( let i=1; i <=pages; i++ ) { %>
                                            <li class="page-item<%=page==i ? ' active' : '' %>"><a class="page-link"
                                                    href="<%= url.replace(`page=${page}`, `page=${i}`)%>">
                                                    <%= i %>
                                                </a></li>
                                            <% } %>
                                                <li class="page-item<%=page == pages ? ' disabled' : '' %>">
                                                    <a class="page-link"
                                                        href="<%= url.replace(`page=${page}`, `page=${(parseInt(page) + 1) > pages ? pages : parseInt(page)+1 }` ) %>">Next</a>
                                                </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
            <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <script>

                const select = document.querySelector('select[name="display"]');
                select.addEventListener('change', function () {
                    this.form.submit();
                });

            </script>

            <%- include('../partials/footer.ejs') %>